body {
  margin: 50px;
}

.card {
  width: 350px;
  height: 220px;
  background-color: red;
  border: 2px solid black;
  border-radius: 15px;
}

.card h2,
.card p {
  margin: 0;
}

.card header,
.card footer {
  height: 30px;
  padding: 10px;
}

.card header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 15px 15px 0 0;
}

.card footer {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 0 0 15px 15px;
}

.card header h2 {
  font-size: 20px;
}

.card footer p {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card article {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.25);
}

.card article img {
  max-height: 100%;
  float: right;
}

.card article p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

